/* src/components/Footer/Footercss */
.footer {
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
  background-color: var(--card-bg);
  border-top: 1px solid #e0e0e0;
  color: #777;
}

/* --- Nuevos Estilos --- */
.adminLinkContainer {
  margin-top: 1rem;
}

.adminLink {
  font-size: 0.85rem;
  color: #999;
  text-decoration: none;
  transition: color 0.3s ease;
}

.adminLink:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
